<section class="content-header">
    <div class="pull-left">
        <h1>Compras <small>Listado</small> </h1>
    </div>
    <div class="pull-right">
        <div class="input-group">
        <form name="form" (ngSubmit)="search(txt)">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="txt">
        </form>
            <div class="input-group-btn">
                <button (click)="search(txt)" class="btn btn-default"><i class="fa fa-search"></i></button>
                <a (click)="loadAll()" class="btn btn-success"><i class="fa fa-refresh"></i></a>
                <a [routerLink]="['/compra/nueva']" class="btn btn-primary"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
</section>
<br>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th>Fecha</th>
                            <th>Empresa</th>
                            <th>Descripción</th>
                            <th class="text-center">Total</th>
                            <th class="text-center"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8" class="text-center" *ngIf="compras.total < 1"><span class="label label-info">Sin datos que mostrar</span></td>
                        </tr>

                        <tr *ngFor=" let compra of compras.data">
                            
                            <td class="text-center">{{compra.id}}</td>
                            <td>{{compra.fecha | date:"dd/MM/yyyy"}}</td>
                            <td>{{compra.proveedor}}</td>
                            <td>{{compra.descripcion}}</td>
                            <td class="text-center">{{compra.total | currency:'USD':'symbol':'1.2'}}</td>
                            <td class="text-center">
                                <a class="btn btn-default btn-sm" [routerLink]="['/compra/', compra.id]" data-toggle="tooltip" title="Editar">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-default btn-sm" [routerLink]="['/compra/compras/', compra.id]" data-toggle="tooltip" title="Ver compras">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="compras.last_page > 1">
                            <td colspan="8" class="text-center">
                                <nav>
                                <ul class="pagination">
                                    <li class="page-item" [ngClass]="{'disabled': compras.current_page == 1}">
                                        <a href="javascript:void(0)" (click)="setPaginacion(compras.current_page - 1)" >Previous</a>
                                    </li>
                                    
                                    <li class="page-item" [ngClass]="{'active': page == compras.current_page}" *ngFor="let page of paginacion" >
                                        <a href="javascript:void(0)" (click)="setPaginacion(page)">{{page}} </a>
                                    </li>

                                    <li class="page-item" [ngClass]="{'disabled': compras.current_page == compras.last_page}">
                                        <a href="javascript:void(0)" (click)="setPaginacion(compras.current_page + 1)">Next</a>
                                    </li>
                                </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
