<div class="row text-center animated fadeIn">
    <h1 class="text-center">Caja <small><span class="label label-success">{{corte.estado}}</span></small></h1>
    <a (click)="cerrarCaja()" class="btn btn-default">Cerrar caja</a>
</div>
<br>
<div class="row" style="display: flex; justify-content: center;">
	<div class="col-xs-2">
		<a routerLink="/venta/recibo/nuevo'" class="btn btn-block btn-default">Recibo</a>
	</div>
	<div class="col-xs-2">
		<a routerLink="/venta/factura/nuevo'" class="btn btn-block btn-default">Factura</a>
	</div>
	<div class="col-xs-2">
		<a routerLink="/venta/credito/credito'" class="btn btn-block btn-default">Crédito</a>
	</div>
	<div class="col-xs-2">
		<a (click)="openModal(mgasto)" class="btn btn-block btn-default">Gasto</a>
	</div>
	<div class="col-xs-2">
		<a (click)="openModal(mentrada)" class="btn btn-block btn-default">Entrada</a>
	</div>
	<!-- <div class="col-xs-2">
		<a (click)="openModal(msalida)" class="btn btn-block btn-default">Salida</a>
	</div> -->
	<!-- <div class="col-xs-2">
		<a (click)="openModal(mnota)" class="btn btn-block btn-default">Nota</a>
	</div> -->
</div>
<br>

<div class="row text-center">
	<div class="col-xs-3">
		<div class="alert bg-primary">
			<h2 *ngIf="!caja?.total">$ 0.00</h2>
			<h2 *ngIf="caja.total">{{ caja?.total - datos?.salida + datos?.entrada | currency:'USD':'symbol':'1.2' }}</h2>
			<p>Caja</p>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="alert bg-warning">
			<h2 *ngIf="!datos?.salida">$ 0.00</h2>
			<h2 *ngIf="datos?.salida">{{ datos?.salida | currency:'USD':'symbol':'1.2' }}</h2>
			<p>Salidas</p>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="alert bg-success">
			<h2 *ngIf="!datos?.entrada">$ 0.00</h2>
			<h2 *ngIf="datos?.entrada">{{ datos?.entrada | currency:'USD':'symbol':'1.2' }}</h2>
			<p>Entradas</p>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="alert bg-info">
			<h2 *ngIf="!datos?.balance">$ 0.00</h2>
			<h2 *ngIf="datos?.balance">{{ datos?.balance | currency:'USD':'symbol':'1.2' }}</h2>
			<p>Balance</p>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-12">
	    <div class="table-responsive">
	        <table class="table table-bordered table-hover">
	            <thead>
	                <tr>
	                    <th>Tipo</th>
	                    <th>Detalle</th>
	                    <th class="text-center">Entrada</th>
	                    <th class="text-center">Salida</th>
	                    <th class="text-center hidden-xs">Estado</th>
	                    <th class="text-center"><i class="fa fa-cog"></i></th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                    <td colspan="8" class="text-center" *ngIf="datos?.actividades?.length < 1"><span class="label label-info">Sin datos que mostrar</span></td>
	                </tr>

	                <tr *ngFor=" let venta of datos?.actividades" [ngClass]="{ 'bg-success' : venta.tipo == 'Entrada', 'bg-warning' : venta.tipo == 'Nota' , 'bg-danger' : venta.tipo == 'Salida' }">
	                    
	                    <td>{{venta.tipo}}</td>
	                    <td>{{venta.descripcion}}</td>
	                    <td class="text-center">{{venta.entrada | currency:'USD':'symbol':'1.2' }}</td>
	                    <td class="text-center">{{venta.salida | currency:'USD':'symbol':'1.2' }}</td>
	                    <td class="text-center">
	                    	{{venta.estado}}
	                    </td>

	                    <td class="text-center">
	                    	<a *ngIf="venta.tipoVenta == 'Recibo'" class="btn btn-default btn-sm" routerLink="/venta/recibo/{{venta.id}}" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a>
	                    	<a *ngIf="venta.tipoVenta == 'Consumidor Final'" class="btn btn-default btn-sm" routerLink="/venta/factura/{{venta.id}}" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a>
	                    	<a *ngIf="venta.tipoVenta == 'Credito Fiscal'" class="btn btn-default btn-sm" routerLink="/venta/credito/{{venta.id}}" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a>
	                    	<!-- <a *ngIf="venta.tipo == 'Nota'" class="btn btn-default btn-sm" routerLink="/nota/{{venta.id}}" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a> -->
	                    	<a *ngIf="venta.tipo == 'Salida'" class="btn btn-default btn-sm" routerLink="/gasto/{{venta.id}}" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a>
	                    	<!-- <a *ngIf="venta.tipo == 'Compra'" class="btn btn-default btn-sm" routerLink="/compra/'{{venta.id}}" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a> -->
	                    	<a *ngIf="venta.tipo == 'Entrada'" class="btn btn-default btn-sm" routerLink="/entrada/{{venta.id}}" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a>
	                    </td>

	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</div>


<ng-template #mentrada>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Entrada</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div class="row">
		<form name="form" (ngSubmit)="onSubmitEntrada()">
            <div class="form-group col-md-12">
                <label for="total">Total:</label>
                <input type="number" class="form-control" [(ngModel)]="entrada.total" name="total" placeholder="0.0">
            </div>
            <div class="form-group col-md-12">
                <label for="descripcion">* Descripción:</label>
            	<input type="text" [(ngModel)]="entrada.descripcion" name="descripcion" class="form-control">
            </div>
            <div class="col-xs-12">
	            <button [disabled]="loading" class="btn btn-primary pull-right" [disabled]="loading || !entrada.total || !entrada.descripcion">
	                <span *ngIf="!loading">Guardar</span>
	                <span *ngIf="loading">Guardando...</span>
	            </button>
            </div>
		</form>
	</div>
  </div>
</ng-template>

<ng-template #msalida>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Salida</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div class="row">
		<form name="form" (ngSubmit)="onSubmitSalida()">
            <div class="form-group col-md-12">
                <label for="total">Total:</label>
                <input type="number" class="form-control" [(ngModel)]="salida.total" name="total" placeholder="0.0">
            </div>
            <div class="form-group col-md-12">
                <label for="descripcion">* Descripción:</label>
            	<input type="text" [(ngModel)]="salida.descripcion" name="descripcion" class="form-control">
            </div>
            <div class="col-xs-12">
	            <button [disabled]="loading" class="btn btn-primary pull-right" [disabled]="loading || !salida.total || !salida.descripcion">
	                <span *ngIf="!loading">Guardar</span>
	                <span *ngIf="loading">Guardando...</span>
	            </button>
            </div>
		</form>
	</div>
  </div>
</ng-template>

<ng-template #mgasto>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Gasto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div class="row">
		<form name="form" (ngSubmit)="onSubmitGasto()">
            <div class="form-group col-md-12">
                <label for="total">Total:</label>
                <input type="number" class="form-control" [(ngModel)]="gasto.total" name="total" placeholder="0.0">
            </div>
            <div class="form-group col-md-12">
                <label for="descripcion">* Descripción:</label>
            	<input type="text" [(ngModel)]="gasto.descripcion" name="descripcion" class="form-control">
            </div>
            <div class="col-xs-12">
	            <button [disabled]="loading" class="btn btn-primary pull-right" [disabled]="loading || !gasto.total || !gasto.descripcion">
	                <span *ngIf="!loading">Guardar</span>
	                <span *ngIf="loading">Guardando...</span>
	            </button>
            </div>
		</form>
	</div>
  </div>
</ng-template>

<ng-template #mnota>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Nota</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div class="row">
		<form name="form" (ngSubmit)="onSubmitNota()">
            <div class="form-group col-md-12">
                <label for="estado">Estado:</label>
                <select class="form-control" [(ngModel)]="nota.estado" name="estado">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="descripcion">* Descripción:</label>
            	<input type="text" [(ngModel)]="nota.descripcion" name="descripcion" class="form-control">
            </div>
            <div class="col-xs-12">
	            <button [disabled]="loading" class="btn btn-primary pull-right" [disabled]="loading || !nota.estado || !nota.descripcion">
	                <span *ngIf="!loading">Guardar</span>
	                <span *ngIf="loading">Guardando...</span>
	            </button>
            </div>
		</form>
	</div>
  </div>
</ng-template>

<ng-template #mcorte>
  <div class="modal-header">
    <h4 class="modal-title text-center">Apertura de Caja</h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <form name="form" (ngSubmit)="onSubmitCorte()">
            <div class="form-group col-md-12">
                <label for="total">Efectivo con que se inicia:</label>
                <input type="number" [(ngModel)]="corte.total" name="total" class="form-control" focus="true">
            </div>
            <div class="col-xs-12">
                <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>
