
<section class="content-header">
    <h1> Venta <small>Consumidor final</small> </h1>
</section>

<form name="form" (ngSubmit)="onSubmit()" autocomplete="off">
	<section class="panel panel-default">
        <div class="panel-heading">
            <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
            <a *ngIf="venta.id" class="btn btn-default pull-right" style="margin-left: 15px;" href="{{ apiService.apiUrl + 'pdf/venta/' + venta.id }}" target="_black" data-toggle="tooltip" title="Imprimir"> <i class="fa fa-print"></i></a>
            <button type="submit" [disabled]="loading || !cliente.nombre" class="btn btn-primary pull-right">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
		<div class="panel-body">
			<div class="row">
				<div class="form-group col-md-2">
				    <label for="fecha">* Fecha:</label>
				    <input type="date" class="form-control" [(ngModel)]="venta.fecha" name="fecha" required>
				</div>
				<div class="form-group col-sm-2">
				    <label for="estado">* Estado:</label>
				    <select class="form-control" [(ngModel)]="venta.estado" name="estado" required>
				    	<option value="Orden">Orden</option>
				    	<option value="En Proceso">En Proceso</option>
				    	<option value="Finalizado">Finalizado</option>
				    	<!-- <option value="1">Cancelado</option> -->
				    </select>
				</div>
				<div class="form-group col-sm-2">
				    <label for="correlativo">Correlativo:</label>
				    <input type="number" class="form-control" [(ngModel)]="venta.correlativo" name="correlativo">
				</div>
				<div class="form-group col-md-6">
				    <label for="nombre">* Cliente:</label>
				    <input type="search" class="form-control" [(ngModel)]="cliente.nombre" name="cliente" placeholder="Cliente" required autofocus (keyup)="searchCliente(cliente.nombre)">
				    <ul class="list-group buscador" *ngIf="clientes.total > 0">
				      <a href="javascript:void(0);" (click)="selectCliente(cliente)" class="list-group-item" *ngFor=" let cliente of clientes.data">
				      	{{cliente.nombre}} {{cliente.apellido}}
				      </a>
				    </ul>
			 	</div>
		 	<div class="form-group col-sm-4">
		 	    <label for="giro">Giro:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.giro" name="giro" placeholder="Giro">
		 	</div>
		 	<div class="form-group col-md-2">
		 	    <label for="dui">DUI:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.dui" name="dui" placeholder="xxxxxxx-x">
		 	</div>
			 <div class="form-group col-sm-2">
		 	    <label for="nit">NIT:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.nit" name="nit" placeholder="xxxx-xxxxxx-xxx-x">
		 	</div>
		 	<div class="form-group col-sm-2">
		 	    <label for="nrc">NRC:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.nrc" name="nrc" placeholder="xxxx-x">
		 	</div>
		 	<div class="form-group col-sm-2">
		 	    <label for="telefono">Teléfono:</label>
		 	    <input type="tel" class="form-control" [(ngModel)]="cliente.telefono" name="telefono" placeholder="xxxx-xxxx">
		 	</div>
		 	<div class="form-group col-sm-2">
		 	    <label for="email">Correo:</label>
		 	    <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" placeholder="Correo">
		 	</div>
		 	<div class="form-group col-sm-2">
		 	    <label for="municipio">Municipio:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.municipio" name="municipio" placeholder="Municipio">
		 	</div>
		 	<div class="form-group col-sm-2">
		 	    <label for="departamento">Departamento:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.departamento" name="departamento" placeholder="Departamento">
		 	</div>
		 	<div class="form-group col-md-6">
		 	    <label for="direccion">Dirección:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.direccion" name="direccion" placeholder="xxxx-xxxx">
		 	</div>

			</div>

			<div class="row" *ngIf="venta.id">
				<div class="col-xs-12">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th></th>
							<th class="text-center">Catidad</th>
							<th>Descripción</th>
							<th class="text-center">Precio</th>
							<th class="text-center">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="width: 100px;" class="text-center">
								<a class="btn btn-danger" (click)="detalle = {}"><i class="fa fa-minus"></i>
								</a>
								<a class="btn btn-primary" (click)="agregarDetalle(detalle)"><i class="fa fa-plus"></i>
								</a>
							</td>
							<td style="width: 100px;"><input type="number" name="cantidad" class="form-control text-center" (change)="updateDetalle(detalle)" [(ngModel)]="detalle.cantidad"></td>
							<td>
								<input type="text" class="form-control" name="descripcion" [(ngModel)]="detalle.descripcion" (keyup)="searchProducto()">
								<ul class="list-group buscador" *ngIf="productos.total > 0">
								  <a href="javascript:void(0);" (click)="selectProducto(producto)" class="list-group-item" *ngFor=" let producto of productos.data">
								  	{{producto.nombre}} - {{producto.precio  | currency:'USD':'symbol':'1.2'}}
								  </a>
								</ul>
							</td>
							<td style="width: 150px;"><input type="number" name="precio" class="form-control" (change)="updateDetalle(detalle)" [(ngModel)]="detalle.precio"></td>
							<td style="width: 150px;"><input type="number" class="form-control" name="total" [value]="detalle.total"></td>
						</tr>
						<tr *ngFor=" let de of detalles">
							<td style="width: 100px;" class="text-center">
								<a class="btn btn-danger" (click)="eliminarDetalle(de)"><i class="fa fa-minus"></i>
								</a>
								<a class="btn btn-default" (click)="selectDetalle(de)"><i class="fa fa-pencil"></i>
								</a>
							</td>
							<td class="text-center" style="width: 100px;">{{ de.cantidad }}</td>
							<td>{{ de.descripcion }}</td>
							<td class="text-center" style="width: 150px;">{{ de.precio | currency:'USD':'symbol':'1.2'}}</td>
							<td class="text-center" style="width: 150px;">{{ de.total | currency:'USD':'symbol':'1.2'}}</td>
						</tr>
						<tr>
							<td colspan="4" class="text-right"><b>Sub Total:</b></td><td class="text-center">
							{{ (venta?.total - (venta?.total * 0.13)) | currency:'USD':'symbol':'1.2'}}</td>
						</tr>
						<tr>
							<td colspan="4" class="text-right"><b>Iva:</b></td><td class="text-center">
							{{ venta?.total * 0.13 | currency:'USD':'symbol':'1.2'}}</td>
						</tr>
						<tr>
						    <td colspan="4" class="text-right">
						        <div class="form-check form-switch w-100">
						            <label class="form-check-label" for="venta.retencion">
						                <input id="venta.retencion" class="form-check-input" type="checkbox" (change)="sumTotal()" [(ngModel)]="venta.retencion" name="venta.retencion" *ngIf="!loading">
						                IVA retenido:
						            </label>
						        </div>
						    </td>
						    <td  width="70px" class="text-center">
						       {{ (venta.iva_retenido ) | currency:'USD':'symbol':'1.2'}}
						    </td>
						</tr>
						<tr>
							<td colspan="4" class="text-right"><b>Total:</b></td><td class="text-center">{{venta?.total | currency:'USD':'symbol':'1.2'}}</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>

        </div>
    </section>
</form>
