<section class="content-header">
    <h1> Gasto </h1>
</section>

        
<form name="form" (ngSubmit)="onSubmit()">
    <section class="panel panel-default">
        <div class="panel-body">  
            <div class="form-group col-md-4">
                <label for="fecha">* Fecha:</label>
                <input type="date" class="form-control" [(ngModel)]="gasto.fecha" name="fecha"  required autofocus>
            </div>
            <div class="form-group col-md-4">
                <label for="total">Total:</label>
                <input type="number" class="form-control" [(ngModel)]="gasto.total" name="total" placeholder="0.0" required>
            </div>
            <div class="form-group col-md-12">
                <label for="proveedor">* Descripción:</label>
            	<textarea class="form-control" name="descripcion" [(ngModel)]="gasto.descripcion" cols="30" rows="5"></textarea>
            </div>
        </div>

        <div class="panel-footer">
            <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

            <button [disabled]="loading" class="btn btn-primary pull-right">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </section>
</form>
