<section class="content-header">
    <h1> Nota <small>Edición</small> </h1>
</section>

        
<form name="form" (ngSubmit)="onSubmit()">
    <section class="panel panel-default">
        <div class="panel-body">  
            <div class="form-group col-md-4">
                <label for="fecha">* Fecha:</label>
                <input type="date" class="form-control" [(ngModel)]="nota.fecha" name="fecha"  required autofocus>
            </div>
            <div class="form-group col-md-4">
                <label for="estado">Estado:</label>
                <select class="form-control" [(ngModel)]="nota.estado" name="estado">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="proveedor">* Descripción:</label>
                <input type="text" class="form-control" name="descripcion" [(ngModel)]="nota.descripcion"/>
            </div>
        </div>

        <div class="panel-footer">
            <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

            <button [disabled]="loading" class="btn btn-primary pull-right">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </section>
</form>