<section class="content-header">
    <div class="pull-left">
        <h1>Notas <small>Listado</small> </h1>
    </div>
    <div class="pull-right">
        <div class="input-group">
        <form name="form" (ngSubmit)="search(txt)">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="txt">
        </form>
            <div class="input-group-btn">
                <button (click)="search(txt)" class="btn btn-default"><i class="fa fa-search"></i></button>
                <a (click)="loadAll()" class="btn btn-success"><i class="fa fa-refresh"></i></a>
                <a [routerLink]="['/nota/nueva']" class="btn btn-primary"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
</section>
<br>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th>Fecha</th>
                            <th>Descripción</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8" class="text-center" *ngIf="notas.total < 1"><span class="label label-info">Sin datos que mostrar</span></td>
                        </tr>

                        <tr *ngFor=" let nota of notas.data">
                            
                            <td class="text-center">{{nota.id}}</td>
                            <td>{{nota.fecha | date:"dd-MM-y"}}</td>
                            <td>{{nota.descripcion}}</td>
                            <td class="text-center">
                                <span class="label label-pop" [ngClass]="{'label-warning' : nota?.estado == 'Pendiente', 'label-success' : nota?.estado == 'Finalizado'}" [popover]="popTemplate" [outsideClick]="true">
                                    {{nota.estado}}
                                </span>
                                <ng-template #popTemplate>
                                    <button class="btn btn-default btn-xs" (click)="setEstado(nota, 'Pendiente')">Pendiente</button>
                                    <button class="btn btn-default btn-xs" (click)="setEstado(nota, 'Finalizado')">Finalizado</button>
                                </ng-template>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-default btn-sm" [routerLink]="['/nota/', nota.id]" data-toggle="tooltip" title="Editar">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-default btn-sm" [routerLink]="['/nota/notas/', nota.id]" data-toggle="tooltip" title="Ver notas">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="notas.last_page > 1">
                            <td colspan="8" class="text-center">
                                <nav>
                                <ul class="pagination">
                                    <li class="page-item" [ngClass]="{'disabled': notas.current_page == 1}">
                                        <a href="javascript:void(0)" (click)="setPaginacion(notas.path, notas.current_page - 1)" >Previous</a>
                                    </li>
                                    
                                    <li class="page-item" [ngClass]="{'active': page == notas.current_page}" *ngFor="let page of paginacion" >
                                        <a href="javascript:void(0)" (click)="setPaginacion(notas.path, page)">{{page}} </a>
                                    </li>

                                    <li class="page-item" [ngClass]="{'disabled': notas.current_page == notas.last_page}">
                                        <a href="javascript:void(0)" (click)="setPaginacion(notas.path, notas.current_page + 1)">Next</a>
                                    </li>
                                </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>