<section class="content-header">
    <div class="pull-left">
        <h1> Ventas </h1>
    </div>
    <div class="pull-right">
        <div class="input-group">
            <div class="input-group-btn">
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus"></i> Crear <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/venta/recibo/nueva">Recibo</a></li>
                    <li><a routerLink="/venta/factura/nueva">Consumidor Final</a></li>
                    <li><a routerLink="/venta/credito/nueva">Crédito Fiscal</a></li>
                  </ul>
                </div>
                <button (click)="openFilter(mfilter)" class="btn btn-default pull-right" tooltip="Filtrar"><i class="fa fa-filter"></i> Filtrar </button>
                <!-- <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-filter"></i> Por tipo <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                    <li><a (click)="filtrarTipo('Recibo')">Recibo</a></li>
                    <li><a (click)="filtrarTipo('Consumidor Final')">Consumidor Final</a></li>
                    <li><a (click)="filtrarTipo('Crédito Fiscal')">Crédito Fiscal</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-filter"></i> Por estado <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                    <li><a (click)="filtrarEstado('Orden')">Orden</a></li>
                    <li><a (click)="filtrarEstado('En Proceso')">En Proceso</a></li>
                    <li><a (click)="filtrarEstado('Finalizado')">Finalizado</a></li>
                    <li><a (click)="filtrarEstado('Anulada')">Anulada</a></li>
                    </ul>
                </div>

                <a (click)="filtrarDebe()" class="btn btn-default"><i class="fa fa-filter"> Deben</i></a> -->
                <a (click)="loadAll()" class="btn btn-success pull-right"><i class="fa fa-refresh"></i> Actualizar</a>

                
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <h4 class="col-md-12" style="margin:0;" *ngIf="ventas?.total">
            {{ ventas?.total + ' registros' }}
            <span *ngIf="filtrado">
                Ventas: {{ ventas?.data | sum:'total' | currency:'USD':'symbol':'1.2'  }}
                Pendiente: {{ ventas?.data | sum:'pendiente' | currency:'USD':'symbol':'1.2'  }}
            </span>
        </h4>
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="hidden-sm">Fecha</th>
                            <th>Cliente</th>
                            <th>Correlativo</th>
                            <th>Estado</th>
                            <th>Tipo</th>
                            <th class="text-right hidden-sm hidden-xs">Total</th>
                            <th class="text-right hidden-xs">Debe</th>
                            <th class="text-center"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8" class="text-center" *ngIf="ventas.total < 1"><span class="label label-info">Sin datos que mostrar</span></td>
                        </tr>

                        <tr *ngFor=" let venta of ventas.data">
                            
                            <td class="text-center">{{venta.id}}</td>
                            <td class="hidden-sm">{{venta.fecha | date:'dd/MM/yyyy' }}</td>
                            <td>{{venta.cliente}}</td>
                            <td>{{venta.correlativo}}</td>
                            <td>
                                <span class="label label-pop" [ngClass]="{'label-warning' : venta?.estado == 'En Proceso', 'label-primary' : venta?.estado == 'Orden', 'label-success' : venta?.estado == 'Finalizado', 'label-danger' : venta?.estado == 'Anulada'}" [popover]="popTemplate" [outsideClick]="true">
                                    {{venta.estado}}
                                </span>
                                <ng-template #popTemplate>
                                    <button class="btn btn-default btn-xs" (click)="setEstado(venta, 'Orden')">Orden</button>
                                    <button class="btn btn-default btn-xs" (click)="setEstado(venta, 'En Proceso')">En Proceso</button>
                                    <button class="btn btn-default btn-xs" (click)="setEstado(venta, 'Finalizado')">Finalizado</button>
                                    <button class="btn btn-default btn-xs" (click)="setEstado(venta, 'Anulada')">Anulada</button>
                                </ng-template>
                            </td>

                            <td>
                                <span class="label" 
                                [ngClass]="{'label-info': venta.tipo == 'Recibo',
                                            'label-primary': venta.tipo == 'Consumidor Final',
                                            'label-warning': venta.tipo == 'Credito Fiscal'}">
                                {{venta.tipo}}
                                </span>
                            </td>
                            <td class="text-right hidden-sm hidden-xs">{{venta.total | currency:'USD':'symbol':'1.2'}}</td>
                            <td class="text-right hidden-xs">
                                <span *ngIf="venta.pendiente" class="label" [ngClass]="{'label-success': venta.pendiente < 1,
                                            'label-danger': venta.pendiente > 0}">
                                {{venta.pendiente | currency:'USD':'symbol':'1.2'}}</span>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-default" href="{{ apiService.apiUrl + 'pdf/venta/' + venta.id }}" target="_black" data-toggle="tooltip" title="Imprimir"> <i class="fa fa-print"></i></a>
                                <a *ngIf="venta.tipo == 'Recibo'" class="btn btn-default" routerLink="/venta/recibo/{{venta.id}}" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a>
                                <a *ngIf="venta.tipo == 'Consumidor Final'" class="btn btn-default" routerLink="/venta/factura/{{venta.id}}" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a>
                                <a *ngIf="venta.tipo == 'Credito Fiscal'" class="btn btn-default" routerLink="/venta/credito/{{venta.id}}" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a>
                            </td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="ventas.last_page > 1">
                            <td colspan="8" class="text-center">
                                <nav>
                                <ul class="pagination">
                                    <li class="page-item" [ngClass]="{'disabled': ventas.current_page == 1}">
                                        <a href="javascript:void(0)" (click)="setPaginacion(ventas.current_page - 1)" >Previous</a>
                                    </li>
                                    
                                    <li class="page-item" [ngClass]="{'active': page == ventas.current_page}" *ngFor="let page of paginacion" >
                                        <a href="javascript:void(0)" (click)="setPaginacion(page)">{{page}} </a>
                                    </li>

                                    <li class="page-item" [ngClass]="{'disabled': ventas.current_page == ventas.last_page}">
                                        <a href="javascript:void(0)" (click)="setPaginacion(ventas.current_page + 1)">Next</a>
                                    </li>
                                </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>

            <div class="form-group col-sm-6">
                <label for="filtro.cliente">Cliente:</label>
                <select [(ngModel)]="filtro.cliente_id" class="form-control" name="filtro.cliente_id">
                    <option value="">Todos</option>
                    <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                        {{ cliente.nombre }}
                    </option>
                </select>
            </div>

            <div class="form-group col-sm-6">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="En Proceso">En Proceso</option>
                    <option value="Finalizado">Finalizado</option>
                    <option value="Anulada">Anulada</option>
                    <option value="Orden">Orden</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.tipo">Tipo:</label>
                <select [(ngModel)]="filtro.tipo" class="form-control" name="filtro.tipo">
                    <option value="">Todos</option>
                    <option value="Credito Fiscal">Credito Fiscal</option>
                    <option value="Consumidor Final">Consumidor Final</option>
                    <option value="Recibo">Recibo</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.deben">Deben: &nbsp;&nbsp;</label>
                <input type="checkbox" style="height: 30px;" [(ngModel)]="filtro.deben" class="form-check" name="filtro.deben">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
