<section class="content-header">
    <div class="pull-left">
        <h1>{{cliente.nombre}} {{cliente.apellido}} <small>Historial</small> </h1>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Tipo</th>
                            <th class="text-center">Pendiente</th>
                            <th class="text-center">Total</th>
                            <th class="text-center"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8" class="text-center" *ngIf="!cliente.ventas"><span class="label label-info">Cargando...</span></td>
                        </tr>

                        <tr *ngFor=" let venta of cliente.ventas">
                            
                            <td class="text-center">{{venta.id}}</td>
                            <td>{{venta.fecha | date:'d-MM-y'}}</td>
                            <td>{{venta.estado}}</td>
                            <td class="text-center">
                                <span class="label" 
                                [ngClass]="{'label-info': venta.tipo == 'Recibo',
                                            'label-primary': venta.tipo == 'Consumidor Final',
                                            'label-warning': venta.tipo == 'Credito Fiscal'}">
                                {{venta.tipo}}
                                </span>
                            </td>
                            <td class="text-center">{{venta.pendiente  | currency:'USD':true:'1.2'}}</td>
                            <td class="text-center">{{venta.total  | currency:'USD':true:'1.2'}}</td>
                            <td class="text-center">
                                <a *ngIf="venta.tipo == 'Recibo'" class="btn btn-default btn-sm" [routerLink]="['/venta/recibo/', venta.id]" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a>
                                <a *ngIf="venta.tipo == 'Consumidor Final'" class="btn btn-default btn-sm" [routerLink]="['/venta/factura/', venta.id]" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a>
                                <a *ngIf="venta.tipo == 'Credito Fiscal'" class="btn btn-default btn-sm" [routerLink]="['/venta/credito/', venta.id]" data-toggle="tooltip" title="Ver"> <i class="fa fa-arrow-right"></i></a>
                                <a class="btn btn-primary btn-sm" href="http://localhost:8000/pdf/venta/{{venta.id}}" target="_black" data-toggle="tooltip" title="Imprimir"> <i class="fa fa-print"></i></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>