
<table class="table table-bordered table-hover">
<thead>
    <tr>
        <th class="text-center">ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Tipo</th>
        <th class="text-center"><i class="fa fa-cog"></i></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="8" class="text-center" *ngIf="usuarios?.total <= 0"><span class="label label-info">Cargando...</span></td>
    </tr>

    <tr *ngFor=" let usuario of usuarios?.data">
        
        <td class="text-center">{{usuario.id}}</td>
        <td>{{usuario.name}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.tipo}}</td>
        <td class="text-center">
            <div class="btn-group" role="group">
                <a class="btn btn-default" (click)="openModal(musuario, usuario)" data-toggle="tooltip" title="Editar">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>  
        </td>

    </tr>
</tbody>
<tfoot>
    <tr *ngIf="usuarios?.last_page > 1">
        <td colspan="8" class="text-center">
            <nav>
            <ul class="pagination">
                <li class="page-item" [ngClass]="{'disabled': usuarios?.current_page == 1}">
                    <a href="javascript:void(0)" (click)="setPaginacion(usuarios?.current_page - 1)" >Previous</a>
                </li>
                
                <li class="page-item" [ngClass]="{'active': page == usuarios?.current_page}" *ngFor="let page of paginacion" >
                    <a href="javascript:void(0)" (click)="setPaginacion(page)">{{page}} </a>
                </li>

                <li class="page-item" [ngClass]="{'disabled': usuarios?.current_page == usuarios?.last_page}">
                    <a href="javascript:void(0)" (click)="setPaginacion(usuarios.current_page + 1)">Next</a>
                </li>
            </ul>
            </nav>
        </td>
    </tr>
</tfoot>
</table>

<ng-template #musuario>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Usuario</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <div class="form-group col-sm-6">
                <label for="name">Nombre:</label><br>
                <input type="text" class="form-control" [(ngModel)]="usuario.name" name="name">
            </div>
            <div class="form-group col-sm-6">
                <label for="email">Correo:</label><br>
                <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email">
            </div>
            <div class="form-group col-sm-6">
                <label for="password">Contraseña:</label><br>
                <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-money"></i>
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

