<div class="content-wrapper">

<section class="content-header">
    <h1> Empresa <small>Edición</small> </h1>
</section>

<section class="content">

<div class="row">

    
   <!--  <div class="col-md-3">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="assets/img/logo.jpg" alt="User profile picture">
          <h3 class="profile-username text-center">{{ empresa.nombre }}</h3>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Ventas</b> <a class="pull-right">1,322</a>
            </li>
            <li class="list-group-item">
              <b>Compras</b> <a class="pull-right">543</a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    
    
    <div class="col-xs-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#settings" data-toggle="tab">Información</a></li>
          <li><a href="#cajas" data-toggle="tab">Cajas</a></li>
          <li><a href="#usuarios" data-toggle="tab">Usuarios</a></li>
          <li><a href="#precios" data-toggle="tab">Precios</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="settings">
                <div class="row col-xs-12">
                  <br>
                    <form name="form" (ngSubmit)="onSubmit()">
                        <div class="form-group col-sm-4">
                            <label for="nombre">* Nombre:</label>
                            <input type="text" class="form-control" [(ngModel)]="empresa.nombre" name="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="telefono">Teléfono:</label>
                            <input type="tel" class="form-control" [(ngModel)]="empresa.telefono" name="telefono" placeholder="xxxx-xxxx">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="email">Correo:</label>
                            <input type="email" class="form-control" [(ngModel)]="empresa.email" name="email" placeholder="info@miempresa.com">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="direccion">Dirección:</label>
                            <input type="text" class="form-control" [(ngModel)]="empresa.direccion" name="direccion" placeholder="direccion">
                        </div>
                        
                        <div class="col-xs-12">
                            <button [disabled]="loading" class="btn btn-primary pull-right">
                                <span *ngIf="!loading">Guardar</span>
                                <span *ngIf="loading">Guardando...</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane" id="cajas">
                <div class="row col-xs-12">
                    <br>
                    <app-cajas></app-cajas>
                </div>
            </div>
            <div class="tab-pane" id="usuarios">
                <div class="row col-xs-12">
                    <br>
                    <app-usuarios></app-usuarios>
                </div>
            </div>
            <div class="tab-pane" id="precios">
                <div class="row col-xs-12">
                    <br>
                    <app-datos-precios></app-datos-precios>
                </div>
            </div>

            <div class="tab-pane" id="timeline">
                <div class="row text-center">
                    <h4>Ponte en contacto con nosotros.</h4>
                    <a href="http://websis.me/contactos" class="btn btn-default" target="_blank">Página web</a>
                    <a href="tel:+50378912933" class="btn btn-default" target="_blank">(+503) 7891-2933</a>
                    <a href="mailto:info@websis.me" class="btn btn-default" target="_blank">info@websis.me</a>
                </div>
            </div>

        </div>
      </div>
    </div>

</div>

</section>