<div class="login-box">

<div class="container">
   
   <div class="row">
    <div class="panel panel-default col-md-6 col-md-offset-3">
        <h1 class="login-logo text-center">
          <a href="#">W<b>pay</b></a>
        </h1>

        <div class="login-box-body">
            <h3 class="text-center">Bienvenido</h3>

            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                    <input type="email" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">Requerido</div>
                </div>

                <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Requerido</div>
                </div>

               <!--  <div class="form-group text-center">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox"> Recordarme
                        </label>
                    </div>
                </div> -->

                <div class="form-group">
                    <button type="submit" [disabled]="loading" class="btn btn-primary btn-block btn-flat">
                        <span *ngIf="!loading">Entrar</span>
                        <span *ngIf="loading">Iniciando...</span>
                    </button>
                </div>
              
            </form>
        </div>
    </div>
    </div>
</div>

</div>
