<section class="content-header">
    <div class="pull-left">
        <h1>Productos <small>Listado</small> </h1>
    </div>
    <div class="pull-right">
        <div class="input-group">
        <form name="form" (ngSubmit)="search(txt)">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="txt">
        </form>
            <div class="input-group-btn">
                <button (click)="search(txt)" class="btn btn-default"><i class="fa fa-search"></i></button>
                <a (click)="loadAll()" class="btn btn-success"><i class="fa fa-refresh"></i></a>
                <a [routerLink]="['/producto/nuevo']" class="btn btn-primary"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
</section>
<br>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th class="text-center"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8" class="text-center" *ngIf="productos?.total <= 0"><span class="label label-info">Cargando...</span></td>
                        </tr>

                        <tr *ngFor=" let producto of productos.data">
                            
                            <td class="text-center">{{producto.id}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.precio}}</td>
                            <td class="text-center">
                                <a class="btn btn-default btn-sm" [routerLink]="['/producto/', producto.id]" data-toggle="tooltip" title="Editar">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="productos.last_page > 1">
                            <td colspan="8" class="text-center">
                                <nav>
                                <ul class="pagination">
                                    <li class="page-item" [ngClass]="{'disabled': productos.current_page == 1}">
                                        <a href="javascript:void(0)" (click)="setPaginacion(productos.current_page - 1)" >Previous</a>
                                    </li>
                                    
                                    <li class="page-item" [ngClass]="{'active': page == productos.current_page}" *ngFor="let page of paginacion" >
                                        <a href="javascript:void(0)" (click)="setPaginacion(page)">{{page}} </a>
                                    </li>

                                    <li class="page-item" [ngClass]="{'disabled': productos.current_page == productos.last_page}">
                                        <a href="javascript:void(0)" (click)="setPaginacion(productos.current_page + 1)">Next</a>
                                    </li>
                                </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
