/*@page { margin: 50px 50px; }*/

.page-break {
    page-break-after: always;
}

body{
	font-size: 12px;
	font-family: sans-serif;
}
/*section{position: relative;}*/

p{margin: 5px;}

.text-center{text-align: center;}
#p{ position: absolute; bottom: 10px; }
@media print {
	#p{
		display: none;
	}
}