
<section class="content-header">
    <h1> Producto <small>Edición</small> </h1>
</section>

<form name="form" (ngSubmit)="onSubmit()">
    <section class="panel panel-default">
        <div class="panel-body">            
            <div class="form-group col-md-6">
                <label for="nombre">* Nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre" placeholder="Nombre" required autofocus>
            </div>
            <div class="form-group col-md-2">
                <label for="precio">Precio:</label>
                <input type="number" class="form-control" [(ngModel)]="producto.precio" name="precio">
            </div>
        </div>
        <div class="panel-footer">
            <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

            <button [disabled]="loading" class="btn btn-primary pull-right">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </section>
</form>
