
<section class="content-header">
    <h1> Venta <small>Recibo</small> </h1>
</section>

<form name="form" (ngSubmit)="onSubmit()" autocomplete="off">
	<section class="panel panel-default">
		<div class="panel-heading">
            <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
            <a class="btn btn-default pull-right" style="margin-left: 15px;" href="{{ apiService.apiUrl + 'pdf/venta/' + venta.id }}" target="_black" data-toggle="tooltip" title="Imprimir Venta"> <i class="fa fa-print"></i></a>
            <button [disabled]="loading" class="btn btn-primary pull-right">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
		</div>
		<div class="panel-body">
			<div class="form-group col-sm-2">
			    <label for="fecha">* Fecha:</label>
			    <input type="date" class="form-control" [(ngModel)]="venta.fecha" name="fecha" required>
			</div>
			<div class="form-group col-sm-2">
			    <label for="estado">* Estado:</label>
			    <select class="form-control" [(ngModel)]="venta.estado" name="estado" required>
			    	<option value="Orden">Orden</option>
			    	<option value="En Proceso">En Proceso</option>
			    	<option value="Finalizado">Finalizado</option>
			    	<!-- <option value="1">Cancelado</option> -->
			    </select>
			</div>
			<div class="form-group col-sm-2">
			    <label for="correlativo">Correlativo:</label>
			    <input type="number" class="form-control" [(ngModel)]="cliente.correlativo" name="correlativo">
			</div>
			<div class="form-group col-sm-6">
			    <label for="nombre">* Recibimos de:</label>
			    <input type="search" class="form-control" [(ngModel)]="cliente.nombre" name="cliente" placeholder="Cliente" required autofocus (keyup)="searchCliente(cliente.nombre)">
			    <ul class="list-group buscador" *ngIf="clientes?.total > 0">
			      <a href="javascript:void(0);" (click)="selectCliente(cliente)" class="list-group-item" *ngFor=" let cliente of clientes.data">
			      	{{cliente.nombre}} {{cliente.apellido}}
			      </a>
			    </ul>
		 	</div>
		 	<div class="form-group col-sm-3">
		 	    <label for="nit">NIT:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.nit" name="nit" placeholder="xxxx-xxxxxx-xxx-x">
		 	</div>
		 	<div class="form-group col-md-3">
		 	    <label for="dui">DUI:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.dui" name="dui" placeholder="xxxxxxx-x">
		 	</div>
		 	<div class="form-group col-sm-3">
		 	    <label for="nrc">NRC:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.nrc" name="nrc" placeholder="xxxx-x">
		 	</div>
		 	<div class="form-group col-sm-3">
		 	    <label for="giro">Giro:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.giro" name="giro" placeholder="Giro">
		 	</div>
		 	<div class="form-group col-sm-3">
		 	    <label for="telefono">Teléfono:</label>
		 	    <input type="tel" class="form-control" [(ngModel)]="cliente.telefono" name="telefono" placeholder="xxxx-xxxx">
		 	</div>
		 	<div class="form-group col-sm-3">
		 	    <label for="email">Correo:</label>
		 	    <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" placeholder="Correo">
		 	</div>
		 	<div class="form-group col-sm-3">
		 	    <label for="municipio">Municipio:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.municipio" name="municipio" placeholder="Municipio">
		 	</div>
		 	<div class="form-group col-sm-3">
		 	    <label for="departamento">Departamento:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.departamento" name="departamento" placeholder="Departamento">
		 	</div>
		 	<div class="form-group col-sm-4">
		 	    <label for="direccion">Dirección:</label>
		 	    <input type="text" class="form-control" [(ngModel)]="cliente.direccion" name="direccion" placeholder="xxxx-xxxx">
		 	</div>

 			<div class="form-group col-sm-2">
 			    <label for="precio">* Total:</label>
 			    <input type="number" class="form-control" [(ngModel)]="detalle.precio" name="precio" required  (change)="setPago()">
 			</div>
 	 	 	<div class="form-group col-sm-2">
 	 		    <label for="pago_total">* Pago total:</label>
 	 		    <input type="checkbox" class="form-control checkbox" [(ngModel)]="detalle.pago_total" value="1" name="pago_total"  (change)="setPago()"/>
 	 	 	</div>
 	 		<div class="form-group col-sm-2" *ngIf="!detalle.pago_total">
 	 		    <label for="abono">* Abono:</label>
 	 		    <input type="number" class="form-control" [(ngModel)]="detalle.abono" name="detalle.abono" required (change)="setPago()">
 	 	 	</div>

 			<div class="form-group col-sm-2" *ngIf="!detalle.pago_total">
 			    <label for="pago_pendiente">* Resta:</label>
 			    <input type="number" class="form-control" [(ngModel)]="detalle.pago_pendiente" name="pago_pendiente" required>
 			</div>

 			<div class="form-group col-sm-12">
 			     <label for="fecha">* Por concepto de:</label>
 			     <textarea name="producto" rows="4" class="form-control" placeholder="Concepto" [(ngModel)]="detalle.descripcion"></textarea>
 			</div>
		</div>
    </section>
</form>
