
<section class="content-header">
    <h1> Precios <small>Cálculo</small> </h1>
</section>

<form name="form" (ngSubmit)="onSubmit()" class="col-md-6 col-md-offset-3">
    <section class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-12 text-center">
                <h3>Max: {{total + producto.negociar | currency:'USD':true:'1.2'}} Min: {{total | currency:'USD':true:'1.2'}}</h3>
            </div>
            <div class="form-group col-md-12">
                <label for="material">* Material:</label>
                <div class="radio-inline">
                  <label>
                    <input type="radio" name="material" [(ngModel)]="producto.material" value="Lona">
                    Lona
                  </label>
                </div>
                <div class="radio-inline">
                  <label>
                    <input type="radio" name="material" [(ngModel)]="producto.material" value="Vinil">
                    Vinil
                  </label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="ancho">* Ancho:</label>
                <input type="number" class="form-control" [(ngModel)]="producto.ancho" name="ancho">
            </div>
            <div class="form-group col-md-6">
                <label for="alto">* Alto:</label>
                <input type="number" class="form-control" [(ngModel)]="producto.alto" name="alto">
            </div>

            <div class="col-xs-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="producto.imprecion" value="imprecion" name="imprecion">
                    Solo Impreción
                  </label>
                </div>
            </div>

            <hr>
          <div *ngIf="!producto.imprecion">
            <p class="col-xs-12 text-center">Opciones:</p>
            <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1" [(ngModel)]="producto.troquelado" name="troquelado">
                    Troquelado
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1" [(ngModel)]="producto.pvc" name="pvc">
                    PVC
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1" [(ngModel)]="producto.tornillos" name="tornillos">
                    Tornillos
                  </label>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1" [(ngModel)]="producto.pega" name="pega">
                    Pega
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1" [(ngModel)]="producto.silicon" name="silicon">
                    Silicon
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1" [(ngModel)]="producto.laminador" name="laminador">
                    Laminador
                  </label>
                </div>
            </div>
          </div>

        </div>
        <div class="panel-footer">
            <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

            <button [disabled]="loading || !producto.ancho || !producto.alto" class="btn btn-primary pull-right">
                <span *ngIf="!loading">Calcular</span>
                <span *ngIf="loading">Calculando...</span>
            </button>
        </div>
    </section>
</form>