<form name="form" (ngSubmit)="onSubmit()">
    <section class="panel panel-default">
        <div class="panel-body">            
            <div class="form-group col-md-3">
                <label for="lona">Lona:</label>
                <input type="number" class="form-control" [(ngModel)]="precios.lona" name="lona" required autofocus>
            </div>
            <div class="form-group col-md-3">
                <label for="vinil">Vinil:</label>
                <input type="number" class="form-control" [(ngModel)]="precios.vinil" name="vinil">
            </div>
            <div class="form-group col-md-3">
                <label for="diseno">Diseño:</label>
                <input type="number" class="form-control" [(ngModel)]="precios.diseno" name="diseno">
            </div>
            <div class="form-group col-md-3">
                <label for="troquelado">Troquelado:</label>
                <input type="number" class="form-control" [(ngModel)]="precios.troquelado" name="troquelado">
            </div>
            <div class="form-group col-md-3">
                <label for="tornillos">Tornillos:</label>
                <input type="number" class="form-control" [(ngModel)]="precios.tornillos" name="tornillos">
            </div>
            <div class="form-group col-md-3">
                <label for="pega">Pega:</label>
                <input type="number" class="form-control" [(ngModel)]="precios.pega" name="pega">
            </div>
            <div class="form-group col-md-3">
                <label for="silicon">Silicon:</label>
                <input type="number" class="form-control" [(ngModel)]="precios.silicon" name="silicon">
            </div>
            <div class="form-group col-md-3">
                <label for="laminador">Laminador:</label>
                <input type="number" class="form-control" [(ngModel)]="precios.laminador" name="laminador">
            </div>
        </div>
        <div class="panel-footer">
            <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

            <button [disabled]="loading" class="btn btn-primary pull-right">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </section>
</form>