<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/dashboard">Wpay</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/clientes">Clientes</a></li>
        <li routerLinkActive="active"><a routerLink="/ventas">Ventas</a></li>
        <li routerLinkActive="active"><a routerLink="/precios">Precios</a></li>
        <li routerLinkActive="active"><a routerLink="/productos">Productos</a></li>
        <li routerLinkActive="active"><a routerLink="/gastos">Gastos</a></li>
        <li routerLinkActive="active"><a routerLink="/entradas">Entradas</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Control Diario <i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/compras">Compras</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/compra/nueva">Compra nueva</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/gastos">Gastos</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/gasto/nuevo">Gasto nuevo</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/notas">Notas</a>
            </li>
            <li class="dropdown-item" routerLinkActive="active">
                <a routerLink="/nota/nuevo">Nota nueva</a>
            </li>
          </ul>
          
        </li>  -->
        <li routerLinkActive="active" *ngIf="apiService.auth_user().tipo == 'Administrador'"><a routerLink="/admin/empresa">Admin</a></li>
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login"><span class="fa fa-power-off"></span> Salir</a></li>
       <!--  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span> Global Grafic <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="fa fa-cog"></span> Configuraciones</a></li>
            <li><a routerLink="/login"><span class="fa fa-power-off"></span> Salir</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
