/* You can add global styles to this file, and also import other style files */
.content-header .input-group{
    width: 400px;
}
.buscador{
    position: absolute;
    z-index: 1000;
}
.label-pop{
    cursor: pointer;
}

input[type=checkbox]{
    border: none;
    box-shadow: none;
    outline: none;
}
input[type=checkbox]:focus{
    border: none;
    box-shadow: none;
    outline: none;
}