
<section class="content-header">
    <h1> Cliente <small>Edición</small> </h1>
</section>

<form name="form" (ngSubmit)="onSubmit()">
    <section class="panel panel-default">
        <div class="panel-body">            
            <div class="form-group col-md-6">
                <label for="nombre">* Nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Nombre" required autofocus>
            </div>
            <div class="form-group col-md-2">
                <label for="nit">NIT:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.nit" name="nit" placeholder="xxxx-xxxxxx-xxx-x">
            </div>
            <div class="form-group col-md-2">
                <label for="dui">DUI:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.dui" name="dui" placeholder="xxxxxxx-x">
            </div>
            <div class="form-group col-md-2">
                <label for="nrc">NRC:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.nrc" name="nrc" placeholder="xxxx-x">
            </div>
            <div class="form-group col-md-6">
                <label for="giro">Giro:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.giro" name="giro" placeholder="Giro">
            </div>
            <div class="form-group col-md-3">
                <label for="telefono">Teléfono:</label>
                <input type="tel" class="form-control" [(ngModel)]="cliente.telefono" name="telefono" placeholder="xxxx-xxxx">
            </div>
            <div class="form-group col-md-3">
                <label for="email">Correo:</label>
                <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" placeholder="Correo">
            </div>
            <div class="form-group col-md-3">
                <label for="municipio">Municipio:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.municipio" name="municipio" placeholder="Municipio">
            </div>
            <div class="form-group col-md-3">
                <label for="departamento">Departamento:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.departamento" name="departamento" placeholder="Departamento">
            </div>
            <div class="form-group col-md-6">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.direccion" name="direccion" placeholder="xxxx-xxxx">
            </div>
        </div>
        <div class="panel-footer">
            <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

            <button [disabled]="loading" class="btn btn-primary pull-right">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </section>
</form>
