<!-- <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th class="text-center">Efectivo</th>
            <th class="text-center"><i class="fa fa-cog"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let caja of cajas">
            <td>{{ caja.nombre }}</td>
            <td class="text-center">{{ caja.total }}</td>
            <td class="text-center"><a (click)="openModal(mcaja, caja)" class="btn btn-default"><i class="fa fa-arrow-right"></i></a></td>
        </tr>
    </tbody>
</table> -->

<h4 class="text-center">Últimos cortes</h4>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="hidden-xs">Apertura</th>
            <th class="hidden-xs">Cierre</th>
            <th>Usuario</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Monto Inicial</th>
            <th class="text-center">Venta</th>
            <th class="text-center">Monto Final</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="9" class="text-center" *ngIf="cortes?.total < 1 && !loading">
                <span class="label label-info">No tiene cortes registrados</span>
            </td>
            <td colspan="9" class="text-center" *ngIf="loading">
                <span class="label label-info">Cargando...</span>
            </td>
        </tr>

        <tr class="animated fadeIn" *ngFor=" let corte of cortes?.data">
            
            <td class="text-center">{{corte.id}}</td>
            <td class="hidden-xs">{{corte.created_at | date:'dd-MM-yyyy h:mm a'}}</td>
            <td class="hidden-xs"><span *ngIf="corte.estado == 'Cerrada'">{{corte.updated_at | date:'dd-MM-yyyy h:mm a'}}</span></td>
            <td>{{corte.usuario}}</td>
            <td class="text-center"> {{corte.estado}} </td>
            <td class="text-center">{{corte.total | currency:'USD':'true':'1.2'}}</td>
            <td class="text-center">{{corte.venta | currency:'USD':'true':'1.2'}}</td>
            <td class="text-center">{{(corte.total * 1) + (corte.venta * 1) | currency:'USD':'true':'1.2'}}</td>

        </tr>
    </tbody>
</table>


<ng-template #mcaja>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Caja</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <div class="form-group col-sm-6">
                <label for="nombre">Nombre:</label><br>
                <input type="text" class="form-control" [(ngModel)]="caja.nombre" name="nombre">
            </div>
            <div class="form-group col-sm-6">
                <label for="total">Corte de Caja:</label><br>
                <input type="number" class="form-control" [(ngModel)]="corte.total" name="total">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-money"></i>
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>